/* font style */
body {
  font-family: "Work Sans", sans-serif;
}

/* Header part styles */

header {
  background-color: rgba(255, 144, 14, 0.2);
  background-blend-mode: overlay;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav a {
  text-decoration: none;
  padding: 20px;
  color: #424242;
}
.nav-names {
  font-size: 18px;
}
.primary-btn {
  background-color: #ff900e;
  color: #ffff;
  width: 140px;
  height: 64px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  margin: 20px;
}
.head-info {
  display: flex;
}
.header-discription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-discription h1 {
  font-weight: 900;
}
.header-discription p {
  width: 40%;
}

.head-info img {
  width: 60%;
  margin-bottom: 20px;
}

/* header part styles end */

/* Main part style */

/* feature styles start */
.feature-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.feature-photos {
  width: 40%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 10%;
}
.feature-photos img {
  width: 250px;
  height: 250px;
  padding: 10px;
}
.feature-info {
  display: flex;
  flex-direction: column;
  width: 40%;
}

/* feature styles end */

/* fact styles start */

.fact-container {
  margin: 50px;
}
.fact-container > h1 {
  width: 256px;
  font-size: 700;
}
.fact-container > p {
  width: 40%;
  margin-bottom: 5%;
}
.facts {
  display: flex;
  justify-content: space-evenly;
}

/* fact styles end */

/* sponsor styles starts */

.sponsor-container {
  text-align: center;
  margin: 10%;
}

.sponsor-icons {
  display: flex;
  justify-content: space-evenly;
  margin: 5%;
  padding: 2%;
}
.sponsor-icon {
  margin: 20px;
  padding: 10px;
}

/* sponsor styles end  */

/* footer styles start */

footer p {
  text-align: center;
  color: #424242;
  background-color: #fff4e7;
  padding: 2%;
  margin: 3%;
}
